body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
  }

.checkout-container {
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.checkout-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.checkout-item {
    width: 49%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

.item-image {
    width: 135px;
    height: 100%; 
    border-radius: 8px 0 0 8px;
    overflow: hidden; 
}

.item-image img {
    width: 100%;
    height: 109px; /* Đảm bảo hình ảnh lấp đầy phần tử cha */
    object-fit: cover; /* Hiển thị hình ảnh đầy đủ trong phạm vi khung */
    display: block; /* Loại bỏ khoảng trắng dưới ảnh */
}

.checkout-item-info {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.checkout-item-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.checkout-item-details {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
    display: flex;
    flex-direction: row; /* Đổi thành chiều ngang */
    /* justify-content: space-between; */
    align-items: center;
}

.checkout-item-price,
.checkout-item-quantity,
.checkout-item-total {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    margin-top: 4px;
    margin-right: 20%;

}

.checkout-item-price span,
.checkout-item-quantity span,
.checkout-item-total span {
    /* font-weight: bold; */
    display: block;
    color: #696969;
}


.checkout-item-quantity > span:nth-child(2),
.checkout-item-price > span:nth-child(2),
.checkout-item-total > span:nth-child(2) {
    color: red; 
    text-align: center;
    margin-right: 2%;
}

.checkout-summary {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #e74c3c;
    padding: 20px;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 5px;
}

.checkout-form {
    margin-top: 20px;
}

.checkout-form h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

.checkout-form input[type="text"],
.checkout-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.checkout-form input[type="text"]:focus,
.checkout-form textarea:focus {
    border-color: #3498db;
}

.checkout-form button {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

.checkout-form button:hover {
    opacity: 0.8;
}
