.title-header-Customer {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-custom-header-title {
    background: linear-gradient(
      86deg,
      rgba(255, 230, 109, 1) 0%,
      rgba(200, 173, 192, 1) 43%,
      rgba(25, 23, 22, 1) 100%
    );
  }
}
@layer utilities {
  .text-gradient {
    background: linear-gradient(
      86deg,
      #ffe66d 0%,
      #c8acc0 43%,
      #191716 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
